body,html {
    padding: 0;
    margin: 0;
    height: 120%;
}
.main{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    background-color: whitesmoke;
}
#form_side{
    flex: 6;
    display: flex;
    flex-direction: column;
    height: 100%;
}
#bg_img{
    flex: 3.5;
    background-image: url(images/halie-west-25xggax4bSA-unsplash.jpg);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}/*
#bg_img>img{
    width: 100%;
    height: 100%;
}*/

.upper{
    box-sizing: border-box;
    padding: 10%;
    padding-left: 5%;
    padding-top: 20%;
}

/*.theFrom{
    display: flex;
    flex-wrap: wrap;
}*/

fieldset{
    padding: 7%;
    margin-top: 5%;
    box-shadow: 0px 15px 10px gray;
    border: gray;
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    background-color: white;
}

.line{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}

.coll{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: start;
    align-items: start;
    width: 100%;
}

input{
    border-radius: 10px;
    border-color: #E5E7EB;
}

input:valid:focus{
    border-color: blue;
}

input:invalid{
    border-color: red;
    box-shadow: 0px 0px 20px red;
}

.btn{
    margin-left: 10%;
    margin-top: 10%;
}
button{
    background-color: #596D48;
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    width: 30%;
}
